{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% include 'components/turbo_newsletter_no_cache_meta.html.twig' %}
{% endblock %}

{% block title %}Outils qualité gratuits : Ishikawa, 5 Pourquoi, Pareto{% endblock %}

{% block meta_description -%}
    {%- if homepage_slots['seo_home_meta_description'] is defined and homepage_slots['seo_home_meta_description'] != '' -%}
        {{- homepage_slots['seo_home_meta_description'] -}}
    {%- else -%}
        6 outils QSE gratuits en ligne. Démarrez sans inscription, exportez en PDF, créez un compte pour sauvegarder. Cockpit QHSE optionnel pour audits, CAPA et risques.
    {%- endif -%}
{%- endblock %}

{% block meta_keywords %}
outil qualité gratuit, diagramme ishikawa, méthode 5 pourquoi, pareto, QQOQCCP, AMDEC, 8D, amélioration continue, export PDF, QHSE, audit ISO, CAPA, cockpit QHSE,
{% endblock %}

{% block og_title %}Outils qualité gratuits : Ishikawa, 5 Pourquoi, Pareto{% endblock %}

{% block og_description -%}
    {%- if homepage_slots['seo_home_meta_description'] is defined and homepage_slots['seo_home_meta_description'] != '' -%}
        {{- homepage_slots['seo_home_meta_description'] -}}
    {%- else -%}
        6 outils QSE gratuits en ligne. Démarrez sans inscription, exportez en PDF. Cockpit QHSE optionnel pour structurer votre pilotage.
    {%- endif -%}
{%- endblock %}

{% block schema_type %}WebSite,SoftwareApplication{% endblock %}

{% block schema_webapp_json %}
{
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "OUTILS-QUALITÉ",
    "applicationCategory": "BusinessApplication",
    "operatingSystem": "Web",
    "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "EUR"
    },
    "description": "Suite d'outils qualité gratuits en ligne : Ishikawa, 5 Pourquoi, Pareto, AMDEC, QQOQCCP et 8D avec export PDF."
}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="home-page" data-controller="home-entrance">
        {% include 'home/sections/_hero_tools_v2.html.twig' with { homepage_slots: homepage_slots|default({}) } %}
        {% include 'home/sections/_outils_gratuits.html.twig' %}
        {% include 'home/sections/_why_account.html.twig' %}
        {% include 'home/sections/_cockpit_upsell.html.twig' %}
        {% include 'home/sections/_social_proof_compact.html.twig' with { homepageTestimonials: homepageTestimonials|default([]) } %}
        {% include 'home/sections/_expertise_section.html.twig' %}
        {% include 'home/sections/_newsletter_section.html.twig' %}
        {% include 'home/sections/_faq.html.twig' with { homepage_slots: homepage_slots|default({}) } %}
    </div>
{% endblock %}
