{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% include 'components/turbo_newsletter_no_cache_meta.html.twig' %}
{% endblock %}

{% block title %}Outils-Qualite.com — Plateforme QHSE : pilotage, audits ISO, CAPA et risques{% endblock %}

{% block meta_description %}Plateforme QHSE pour piloter audits ISO, CAPA et risques depuis un cockpit unique. Priorisez vos actions et structurez votre pilotage.{% endblock %}

{% block meta_keywords %}
plateforme QHSE, pilotage qualité, audit ISO 9001, ISO 14001, ISO 45001, CAPA, matrice des risques, dashboard QSE, outil qualité gratuit, diagramme ishikawa, méthode 5 pourquoi, pareto, QQOQCCP, AMDEC, 8D, amélioration continue, lean, SME,
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="home-page">
        {% include 'home/sections/_hero_landing.html.twig' %}
        {% include 'home/sections/_dashboard_focus.html.twig' %}
        {% include 'home/sections/_value_cards.html.twig' %}
        {% include 'home/sections/_workflow.html.twig' %}
        {% include 'home/sections/_social_proof_compact.html.twig' %}
        {% include 'home/sections/_outils_gratuits.html.twig' %}
        {% include 'home/sections/_cta_final.html.twig' %}
        {% include 'home/sections/_faq.html.twig' %}
        {% include 'home/sections/_newsletter_section.html.twig' %}
        {% include 'home/sections/_expertise_section.html.twig' %}
    </div>
{% endblock %}
