
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/public/media/cache/
/assets/vendor/
###< symfony/asset-mapper ###
var/data.db
var/data.db-journal

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfonycasts/sass-bundle ###
/public/assets/
###< symfonycasts/sass-bundle ###

# Node / frontend
/node_modules/
/package-lock.json
/yarn.lock

# IDE / editor
/.idea/
/.vscode/
*.iml

# Déploiement / archives
/release.zip

# Symfony local / PHPUnit
.symfony.local.yaml
bin/.phpunit.result.cache
