.bg-gradient-primary {
  background: linear-gradient(135deg, var(--primary), var(--purple)) !important;
}

.bg-gradient-secondary {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%) !important;
}

.bg-gradient-red {
  background-image: linear-gradient(135deg, #e53935 0%, #e35d37 50%, #d93b2b 100%);
  transition: background-position 0.4s ease;
  background-size: 200% 200%;

  &:hover,
  &:focus {
    background-position: 100% 0;
  }
}

.shadow-sm {
  box-shadow: var(--shadow-sm) !important;
}

.shadow-md {
  box-shadow: var(--shadow-md) !important;
}
