@use "../../vendor/twbs/bootstrap/scss/bootstrap";
@use "core/variables";
@use "core/mixins";
@use "core/typography";
@use "core/utilities";
@use "core/mobile";
@use "layout/reset";
@use "layout/grid";
@use "layout/navbar";
@use "layout/forms";
@use "layout/footer";
@use "components/buttons";
@use "components/cards";
@use "components/dropdowns";
@use "components/newsletter";
@use "pages/home";
@use "pages/ishikawa";
@use "pages/five-why";
@use "pages/qqoqccp";
@use "pages/amdec";
@use "pages/pareto";
@use "pages/method8d";
@use "pages/outils";
@use "pages/dashboard";
@use "pages/admin";
@use "pages/auth";
