{# Modal pour afficher la liste des analyses Ishikawa sauvegardées #}
<div {{ attributes.defaults({
    class: 'modal fade',
    tabindex: '-1',
    'aria-hidden': 'true',
    'aria-modal': 'true',
    'role': 'dialog',
    'aria-labelledby': id ? (id ~ '-title') : 'ishikawaLoadModalTitle',
    id: id ? id : 'ishikawaLoadModal',
    style: 'display: none;'
}) }}
    {{ stimulus_controller('bootstrap-modal', { autoShow: false }) }}
    data-turbo="false"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center" id="{{ id ? (id ~ '-title') : 'ishikawaLoadModalTitle' }}">
                    <i data-lucide="folder-open" width="24" height="24" class="me-2" aria-hidden="true"></i>
                    Mes analyses Ishikawa
                </h5>
                <button type="button" class="btn-close" data-action="bootstrap-modal#hide" aria-label="Fermer le dialogue"></button>
            </div>
            <div class="modal-body">
                <div class="list-group" id="ishikawaAnalysesList">
                    {# Le contenu sera injecté dynamiquement par JavaScript #}
                    <div class="text-center py-4">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Chargement...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

