{% extends 'base.html.twig' %}

{% set show_public_navbar = false %}
{% set show_sidebar_toggle = true %}

{% block body_class %} layout-dashboard layout-admin{% endblock %}

{% block body %}
{% include 'components/admin_topbar.html.twig' %}
<div class="flex min-h-screen w-full max-w-full overflow-x-hidden">
    <div class="sidebar-overlay" id="sidebarOverlay" style="display: none;" aria-hidden="true"></div>
    {% include 'components/admin_cockpit_sidebar.html.twig' %}
    <div class="main-content grow min-w-0 w-full max-w-full dashboard-layout layout-admin__content" data-sidebar-main-content tabindex="-1" role="region" aria-label="Administration">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
