# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: (deprecated) Build and deploy Node.js app to Azure Web App - outils-qualite-gratuit

on:
  #push:
    #branches:
      #- main
  workflow_dispatch:

jobs:
  deploy:
    if: ${{ false }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: (deprecated) noop
        run: echo 'Azure deployment workflow disabled'
